@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid red; */
}
body {
  width: 100vw;
  font-family: "Poppins", sans-serif;
}
header .Notice {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  background: linear-gradient(to right, #1a5ee7, #f93f78);
  font-size: 13px;
  animation: notice infinite 1.25s;
}
@keyframes notice {
  0% {
    font-size: 13px;
  }
  40% {
    font-size: 12px;
  }
  80% {
    font-size: 13px;
  }
}
header .Navbar {
  height: 100px;
  width: 100vw;
  background: #1a62f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15vw;
}
header .Navbar .brandName {
  width: 30vw;
}
header .Navbar .brandName img {
  width: 180px;
}
header .Navbar ul {
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
header .Navbar ul li {
  list-style: none;
}
header .Navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 15px;
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .Navbar ul li a:hover {
  /* text-decoration: none; */
  border-bottom: 1px solid white;
  color: rgba(255, 255, 255, 0.9);
  bottom: 1px;
}
header .Navbar ul li a span {
  font-size: 24px;
}
header .Navbar ul li .signup {
  background: white;
  color: #1a62f2;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 15px;
}
header .Navbar ul li .signup:hover {
  color: #1a62f2;
}
header .Navbar ul li .login {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
}
header .Navbar ul li .login:hover {
  background: white;
  color: #1a62f2;
}
.section1 {
  height: 85vh;
  padding: 20vh 15vw;
  background: url("https://uploads-ssl.webflow.com/606c4d4ed5ba7ca3bc774c4c/62064e8df3397dc069c2ba18_ebook2%20featured%20image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section1 .hero {
  width: 50vw;
}
.section1 .hero .ebookbtn {
  text-transform: uppercase;
  background: #1a62f2;
  display: inline-block;
  padding: 3px 13px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}
.section1 .hero p {
  color: white;
  font-weight: 600;
  font-size: 40px;
}
.section1 .hero .textfield {
}
.section1 .hero .textfield span {
  color: rgb(202, 202, 202);
  font-size: 18px;
}
.section1 .hero .textfield .txtbtn {
  background: white;
  width: 50%;
  border: 1.5px solid #9abcff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.section1 .hero .textfield .txtbtn input,
.section1 .hero .textfield .txtbtn button {
  padding: 7px 10px;
  height: 40px;
  font-size: 16px;
}
.section1 .hero .textfield .txtbtn input {
  width: 70%;
  padding: 3px 10px;
  border: none;
  color: rgb(173, 173, 173);
}
.section1 .hero .textfield .txtbtn input:focus {
  outline: none;
}
.section1 .hero .textfield .txtbtn Button {
  width: 25%;
  background: linear-gradient(to right, #1d5fe7, #8b7bf5);
  border: none;
  border-radius: 5px;
}
.section1 .hero .textfield .txtbtn Button a {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
